@font-face {
    font-family: Futura;
    src: url(font/Futura-Bold.woff2);
    font-family: Helvetica;
    src: url(font/HelveticaNowText-Regular.woff2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

*::selection {
    background-color: #000;
    color: var(--white);
}

:root {
    --white: #F7F7F7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Futura;
}

body,
html {
    height: 100%;
    width: 100%;
}

body {
    background-color: var(--white);
}

/* @ =========================== cursor & header ======================== */
#cursor {
    height: 180px;
    width: 180px;
    background-color: rgba(224, 139, 189, 0.814);
    border-radius: 50%;
    position: fixed;
    transform: translate(-50%, -50%) scale(0);

}

header {
    width: 100%;
    position: fixed;
    z-index: 99;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 25px;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

#logo {
    height: 82px;
    overflow: hidden;
}

#logo img {
    display: block;
}

#links {
    padding: 10px;
}

nav #links a {
    text-transform: uppercase;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 14px;
    margin: 0 20px;
}

#icons {
    padding: 10px;
    border-radius: 50px;
    background-color: var(--white);
}

nav #icons i,
nav #icons svg {
    height: 20px;
    margin: 0 20px;
    font-weight: 100;
    font-size: 20px;
}

/* @ ======================= heroSection =================== */
#heroSection {
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding-top: 20vh;
    text-align: center;
}

#heroSection h1 {
    letter-spacing: -8px;
    font-size: 15.5vw;
    text-transform: uppercase;
    line-height: 13vw;
}

#heroSection h1:nth-child(1) {
    text-align: center;
    width: 100%;
    display: inline-block;
}

#imgContainer {
    height: 100vh;
    margin-top: 1vw;
    position: relative;
}

#imgContainer img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* @ ======================= featuredSection =================== */
#featuredSection {
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #000;
    padding: 1vw;

}

#featuredSection .elem {
    height: 100%;
    width: 32%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#featuredSection .elem img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 1.1;
}

/* @ ======================= productSection =================== */
#productSection {
    min-height: 200vh;
    width: 100%;
    position: relative;
    padding: 0 1vw;

}

#ptext {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#ptext h3 {
    font-size: 3vw;
    width: 40%;
}

#ptext .para {
    font-size: .9vw;
    margin-right: 8vw;
    width: 20%;
}

.para p {
    margin-bottom: 32px;
}

#product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 128px;
}

.child {
    height: 75vh;
    width: 40vw;
    margin: 2vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.child img {
    height: 100%;
}

/* @ =============================== FOOTER ==================================== */
footer{
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding: 5vw 1vw;
}
footer input{
    height: 50px;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    font-size: 2vw;
    font-weight: 700;
    text-transform: uppercase;
    font-family: Futura;
}

#fcontainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10vw 1vw;
}
#fcontainer #connect, #fcontainer #nittyGritties{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
}
#fcontainer #nittyGritties{
    align-items: end;
}

#fcontainer h4{
    font-size: .6vw;
    opacity: 0.3;
    margin-bottom: 30px;
    font-weight: 100;
}
#fcontainer a{
    text-decoration: none;
    color: #000;
    margin-top: 5px;
}
#fcontainer #flogo img{
    height: 200px;
}   
#ftext{
    text-align: center;
}
#terms{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* @ ======================= mediaQuery =================== */
@media (max-width: 320px) and (min-width: 160px) {

    /* * header */
    header {
        padding: 15px;
    }

    #logo {
        height: 60px;
        overflow: hidden;
    }

    #logo img {
        height: 60px;
    }

    #links {
        display: none;
    }

    #icons {
        padding: 6px 8px;
        background-color: var(--white);
    }

    nav #icons i {
        display: none;
    }

    nav #icons svg {
        height: 20px;
        margin: 0;
    }

    /* * heroSection */

    #heroSection {
        padding-top: 100vh;
    }

    #heroSection h1 {
        letter-spacing: 0px;
        font-size: 14vw;
    }

    /* * featuredSection */
    #featuredSection {
        display: block;
        padding: 10vw;
    }

    #featuredSection .elem {
        height: 100%;
        width: 100%;
        margin-bottom: 10px;
    }

    /* * productSection */
    #productSection {
        min-height: 750vh;
        text-align: center;
        padding: 0 5vw;
    }

    #ptext {
        display: block;
    }

    #ptext h3 {
        width: 100%;
        font-size: 20vw;
    }

    #ptext .para {
        width: 100%;
        font-size: 11vw;
        margin: 10vw 0;
    }

    .para p {
        margin-bottom: 12px;
    }

    #product {
        margin-top: 30px;
    }

    .child {
        height: 50vh;
        margin: 1vw;
    }

    #cursor {
        height: 50px;
        width: 50px;
    }

}

@media (max-width: 768px) and (min-width: 320px) {

    /* * header */
    header {
        padding: 15px;
    }

    #logo {
        height: 70px;
        overflow: hidden;
    }

    #logo img {
        height: 70px;
    }
    #links{
        display: none;
    }


    #icons {
        padding: 6px 8px;
        background-color: var(--white);
    }

    nav #icons i,
    nav #icons svg {
        display: inline-block;
        height: 20px;
        margin: 0 20px;
        font-weight: 100;
        font-size: 20px;
    }

    /* * heroSection */

    #heroSection {
        padding-top: 50vh;
    }

    #heroSection h1 {
        letter-spacing: 0px;
        font-size: 14vw;
    }

    #imgContainer {
        height: 60vh;
    }

    /* * featuredSection */
    #featuredSection {
        display: block;
        padding: 5vw;
    }

    #featuredSection .elem {
        height: 100%;
        width: 100%;
        margin-bottom: 20px;
    }

    /* * productSection */
    #productSection {
        min-height: 100vh;
        text-align: center;
    }

    #ptext {
        display: block;
    }

    #ptext h3 {
        width: 100%;
        font-size: 10vw;
    }

    #ptext .para {
        width: 100%;
        font-size: 5vw;
        margin: 10vw 0;
    }

    #product {
        margin-top: 20px;
    }

    .child {
        height: 30vh;
        width: 40vw;
        padding: 2vw;
    }

    #cursor {
        height: 50px;
        width: 50px;
    }
}

@media (max-width: 1023px) and (min-width: 768px) {
    /* * header */
    header {
        padding: 15px;
    }

    #logo {
        height: 70px;
        overflow: hidden;
    }

    #logo img {
        height: 70px;
    }

    #icons {
        padding: 6px 8px;
        background-color: var(--white);
    }
    #links{
        display: none;
    }

    nav #icons i,
    nav #icons svg {
        display: inline-block;
        height: 20px;
        margin: 0 20px;
        font-weight: 100;
        font-size: 20px;
    }

    /* * heroSection */

    #heroSection {
        padding-top: 20vh;
    }

    #heroSection h1 {
        letter-spacing: 0px;
        font-size: 14vw;
    }

    /* * featuredSection */
    #featuredSection {
        display: block;
        padding: 3vw;
    }

    #featuredSection .elem {
        height: 100%;
        width: 100%;
        margin-bottom: 15px;
    }

    /* * productSection */
    #productSection {
        min-height: 100vh;
        text-align: center;
    }

    #ptext {
        display: block;
    }

    #ptext h3 {
        width: 100%;
        font-size: 5vw;
    }

    #ptext .para {
        width: 100%;
        font-size: 3vw;
        margin: 5vw 0;
    }

    #product {
        margin-top: 20px;
    }

    .child {
        height: 30vh;
        width: 40vw;
        padding: 2vw;
    }

    #cursor {
        height: 70px;
        width: 70px;
    }
}

@media (max-width: 1200px) and (min-width: 1024px) {

    /* * productSection */
    #ptext h3 {
        font-size: 5vw;
        line-height: 1;
        width: 60%;
    }

    #ptext .para {
        font-size: 1.7vw;
        margin-right: 8vw;
        width: 25%;
    }
}

@media (max-width: 1400px) and (min-width: 1200px) {

    /* * heroSection */
    #heroSection h1 {
        font-size: 14vw;
    }

    /* * productSection */
    #ptext h3 {
        font-size: 4vw;
        line-height: 1;
        width: 60%;
    }

    #ptext .para {
        font-size: 1.4vw;
        margin-right: 8vw;
        width: 25%;
    }

}

@media (min-width: 1400px) {
    #heroSection h1 {
        font-size: 14vw;
    }
}